html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video{
margin:0;
padding:0;
border:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}
    header{
    background-color:gray;
    color:white;
    }

    .wrap{
    display:flex;
    justify-content: space-between;
}
    .wrap a{
    text-decoration: none;
    color:white;
    }

    .home{
    list-style:none;
    display:flex;
    align-items: center;
    padding-left: 10px;
    }

    .home i{
    color:indianred;
    }

    .menus{
    list-style:none;
    display:flex;
    }

    .menus li{
    padding:8px 12px;

    }

    .menus li:hover {
    background-color: green;
    border-radius: 10px;
    cursor: pointer;
    }

    .icons {
    list-style:none;
    display:flex;
    }

    .icons li{
    padding:8px 12px;
    }

    @media all and (max-width:760px){
    
    .wrap{
    flex-direction: column;
    }

    .menus{
    justify-content:center;
    flex-direction: column;
    align-items: center;
    }

    .menus li{
    width:100%;
    text-align: center;
    }

    .icons{
    justify-content: center;
    }